:root {
    --verde: #008740;
    --naranja: #F51B01;
}
  

body{
    margin: 0;
    min-height: 100vh;
    background-image: url("shutterstock_255404977.jpg");
    /*background: linear-gradient(rgba(255, 255, 255, 1) 72%,rgba(255, 255, 255, 1) ,#d55300ff, #0000cbfe, #00c803ff);*/
    background-repeat: repeat;
    background-size: cover;
    background-position: top;    
    background-attachment: fixed;
}

body:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    
    z-index: -1;
}

.titulo-md{
    font-weight: 700 !important;
}
.titulo-sm{
    font-weight: 400 !important;
}
p{
    font-weight: 300 !important;
}

@media (max-width: 767px) {
    .logo{
        height: 50px !important;
    }    
    .icon-top{
        font-size: 50px !important;
        color: var(--verde) !important;
    }
}

@media (min-width: 767.98px) {
    .logo{
        height: 100px !important;
    }
    .icon-top{
        font-size: 100px !important;
        color: var(--verde) !important;
    }
}

.navbar-dark .navbar-nav .nav-link{
    color: white !important;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: rgba(255,255,255,0.5) !important;
}

.fa-facebook-square:hover{
    color: #3B5998 !important;
}

.fa-twitter-square:hover{
    color: #55acee !important;
}

.icon-but-f:hover{
    color: #3B5998 !important;
}

.icon{
    font-size: 40px;
}

.icon-but-t:hover{
    color: #55acee !important;    
}

.container{
    padding-left: 0;
    padding-right: 0;
}

*{
    font-family: 'Monda', sans-serif;
}

.bg-darker{
    background: linear-gradient(var(--verde) 50%,var(--verde),rgba(0,0,0,0)) !important;
}

.bg-footer{
    background-color: var(--verde) !important;
}


    


#alert{
    visibility: hidden;
}

.card-text{
    line-height: 18px !important;
    font-size: 15px;
}